{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<main>
        <div class="login-register-box">
                <h1>TODO</h1>
                <form action="{% url 'register' %}" method="post">
                    {{ form.username.errors }}
                    {{ form.username|placeholder:'Username' }}
                    {{ form.email.errors }}
                    {{ form.email|placeholder:'Email' }}
                    {{ form.password1.errors }}
                    {{ form.password1|placeholder:'Password' }}
                    {{ form.password2.errors }}
                    {{ form.password2|placeholder:'Repeat Password' }}
                    <button>Register!</button>
                    {% csrf_token %}
                </form>
        </div>
</main>
{% endblock %}