{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<main>
        <div class="text">Welcome to our user-friendly To-Do List web app! Stay organized and boost your productivity effortlessly. With our platform, you can easily manage your tasks, set due dates, categorize them, and mark them as completed. Whether it's work-related, personal, or shopping, our intuitive interface lets you sort and filter tasks by categories and due dates, keeping your life in order. Plus, enjoy the convenience of user registration and authentication to keep your to-do list private. Get started today to streamline your daily tasks and achieve more. Sign up now and take control of your schedule with our To-Do List app!</div>
        <div class="img">
            <img src="{% static 'images/banner.png' %}" alt="banner" width="600px">
            {% if request.user.is_authenticated %}
            {% else %}
                <button class="abs"><a href="{% url 'register' %}">Sing In Now!</a></button>
            {% endif %}
        </div>
    </main>
{% endblock %}