{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<main>
    <div class="task-form delete">
        <h3>Delete?</h3>
            <form method="post" action="{% url 'delete task' slug=task.slug%}" enctype="multipart/form-data">
                <h2>Are you sure you want to delete task '{{task.name}}'</h2>
                {% csrf_token %}
                <input type="submit" name="submit" value="Yes"/>
                <a href="javascript:history.back()">Go Back</a>

            </form>

    </div>
</main>
{% endblock %}