{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div class="task-view">
        {% if tasks %}
            {% for task in tasks %}
                {% if task.status == False %}
                    <div class="task-info" id="{{task.slug}}">
                    
                {% else %}
                <div class="task-info done" id="{{task.slug}}">
                {% endif %}
                {#<a href="{% url 'task details' slug=task.slug %}#task">{{ task.name }}</a>#}
                        <h2>{{task.name}}</h2>
                        <p class="desc">Description:<br> {{task.description}}</p>
                        <!-- <h3>Status: {{ task.status }}</h3> -->
                        <a href="{% url 'edit task' slug=task.slug%}" ><img class="edit-button" src="{% static 'images/edit.svg' %}" width="20px"></a>
                        <a href="{% url 'delete task' slug=task.slug %}" ><img class="delete-button" src="{% static 'images/delete.svg' %}" width="20px"></a>
                        <p class="date">Publication date: {{task.publication_date}}</p>
                </div>
            {% endfor %}
        {% else %}
            <h1>No tasks yet!</h1>
        {% endif %}
        </div>
        {% if tasks.has_other_pages %}
        <nav class="paginator">
            <ul class="pagination justify-content-center">
                {% if tasks.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ tasks.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&laquo;</span>
                    </li>
                {% endif %}

                {% for p in tasks.paginator.page_range %}
                    {% if tasks.number == p %}
                        <li class="page-item"><a class="page-link" style="color: #7ed957;" href="#">{{ p }}</a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if tasks.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ tasks.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&raquo;</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    
        <a class="add-task"href="{% url 'add task'%}">&plus;</a>
    
            
{% endblock %}